<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tpElecciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tpElecciones.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <img src="img/logo.png" alt="">
            <h2><a href='@Url.Action("Index","Home")'>Elecciones 2023</a></h2>
            <h3><a href='@Url.Action("Creditos","Home")'>Creditos</a></h3>
        </nav>
    </header>
    <div class="container">
            @RenderBody()
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
