@{
    ViewData["Title"] = "Creditos";
}

<main id="creditos">
    <h1>Creditos</h1>
    <section>
    <div>
        <img src='@Url.Content("~/img/thiago.jpg")'  alt="">
        <h2>Thiago Lewin</h2>
    </div>
      <div>
        <img src='@Url.Content("~/img/cofa.jpg")' alt="">
        <h2>Guido Cohen</h2>
    </div>
    </section>
</main>